# **Modeling Notebook**

### In this notebook we will pick up where we left off and start with our next model(s) for evaluation, keeping track of them through our metrics table up top.  Once we finish all of our models we will select the ones to continue with the model stack and then on to the Bayes Optimization.

#### First as usual let's read in our dataframe for usage and train our X,y values for our models to come.

In [7]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, classification_report, roc_curve, auc
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [2]:
df_scaled = pd.read_csv(f'/Users/ryanm/Desktop/df-scaled.csv')
print(df_scaled.shape)
df_scaled.head(5)

(3214874, 24)

,user_id,order_number,order_id,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,...,user_product_order_count,user_product_last_order,user_product_reorder_count,avg_days_between_orders,std_days_between_orders,total_orders,total_user_unique_products,user_reorder_proportion,product_popularity,avg_cart_position
0,1,1,2539329,3,9,12.0,26405,5,0,54,...,2,4,1,19.7,9.26,10,7,0.9,405,2.02
1,1,2,2398795,4,8,16.0,26088,6,1,23,...,1,2,1,19.7,9.26,10,7,0.9,247,2.99
2,1,3,473747,4,13,22.0,30450,5,1,88,...,1,3,1,19.7,9.26,10,7,0.9,1696,3.40
3,1,4,2254736,5,8,30.0,26405,5,1,54,...,2,4,1,19.7,9.26,10,7,0.9,405,2.02
4,1,5,431534,5,16,29.0,41787,8,1,24,...,1,5,1,19.7,9.26,10,7,0.9,5653,7.29

In [3]:
X = df_scaled.drop('reordered', axis = 1)
y = df_scaled['reordered']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Below you will see a table that summarizes all the metrics of each model we are building in this project.  We will use this to not only quickly visualize how each performed but to be able to pick which models we wish to use for our model stack later on.

In [8]:
models = ['Logistic Regression Base', 'LogReg SMOTE', 'RNN-LSTM']
table_metrics = {'Model' : models, 'Precision' : [0.77, 0.90], 'Recall' : [0.88, 0.82], 'F-1' : [0.82, 0.84], 'ROC AUC Score' : [0.59, 0.89]}
# Other models to be entered in as they are completed and outputs become available
# Look into leveling up the appearance of the table, as it is a main feature as far as appearance and reference of this notebook.

table_metrics_df = pd.DataFrame(table_metrics)
print(table_metrics_df)

                 Model  Precision  Accuracy   F-1
0  Logistic Regression       0.77      0.88  0.82

#### We will continue on now with a RNN-LSTM model to prepare the sequentionality of our dataset as well as allowing us to predict the n purchases of our users.

#### Great, now let's move on to our last model in the XGBoost.

#### With all of our independent models trained, let's review the metrics table and pick out which ones we want in our model stack before continuing on to the final phase of this notebook in the Bayes Optimization.

In [ ]:
main_path = r'C:/Users/ryanm/Desktop/df-scaled.csv'

#df_mod = df
df_scaled.to_csv(main_path, index = False)